<!DOCTYPE HTML>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GKJJ91ZNLM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GKJJ91ZNLM');
</script>


  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Dr Aaron Smiles
              </h1>
              <p>I build evidence-led AI systems that turn messy real-world and environmental signals into decisions teams can trust. 
                </p> 
              <p>My background spans applied AI, prompt/context engineering, and operations, with hands-on experience designing and shipping systems across research, product, and scale-up environments. I focus on making intelligence usable - grounding models in reality, stress-testing assumptions, and translating complexity into things that actually work day to day.
                </p> 
              <p>Currently operating at the intersection of AI, data, and delivery, quietly building the verification layer that modern systems depend on, whilst becoming ISO 27001 and 42001 Lead Implementer certified.
                </p> 
              <p>I hold an EngD in Applied 3D Computer Vision and AI, focused on environmental sensing, ground-truthing, and verification in complex natural systems, from <a href="https://www.robotics.qmul.ac.uk/">The Centre for Advanced Robotics @ Queen Mary (ARQ)</a>, part of the <a href="https://hair-robotics.qmul.ac.uk/">Human Augmentation & Interactive Robotics (HAIR) team</a>, at Queen Mary University London. My EngD supervisors were Ildar Farkhatdinov and Changjae Oh.
              </p>
              <p>
                From 2011 to 2017, I ran a software startup developing VR audio-visual production tools for the Oculus Rift DK1, where I worked on <a href="https://patents.google.com/patent/WO2016071697A1/en">visual spatial sound rendering in virtual environments</a>.
              </p>
              <p>
                I hold an MRes in Digital Media (CS focus) from <a href="https://www.ncl.ac.uk/">Newcastle University</a>, where I was part of <a href="https://www.ncl.ac.uk/culturelab/research/"> Culture Lab</a> and a member of the paracuting club, and I hold an Executive MBA from <a href="https://quantic.edu/">Quantic School of Business and Technology</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/2duR4Vxn"> Email</a> &nbsp;/&nbsp;
                <a href="pdfs/Aaron_Smiles__CV_Dev3_3.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=P1NbXvcAAAAJ&amp;hl=en&amp;oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/aaronlsmiles">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/aaronsmiles"> LinkedIn </a>
              </p>
              <p style="text-align:center">
                <a href="https://www.credly.com/users/aaron-ls/badges">Coursera Badges</a> &nbsp;/&nbsp;
                <a href="https://www.credential.net/profile/aaronsmiles406186/wallet#gs.m7d2pk"> CXL Certificates </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/nv-prof3.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <p>
                My research interests include AI, computer vision, robotics, and environmental engineering.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'cv' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
 
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {{ post.date | date: "%Y-%m" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.diagram %}
              <a href="{{post.diagram}}">diagram</a> /
              {% endif %}
              {% if post.diagram2 %}
              <a href="{{post.diagram2}}">diagram #2</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.image %}
              <a href="{{post.image}}">image</a> /
              {% endif %}
              {% if post.image2 %}
              <a href="{{post.image2}}">image 2</a> /
              {% endif %}
              {% if post.image3 %}
              <a href="{{post.image3}}">image 3</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.abstract %}
              <a href="{{post.abstract}}">abstract</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video 2</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">publisher</a> /
              {% endif %}
              {% if post.doi %}
              <a href="{{post.doi}}">doi</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Datasets</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'datasets' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {{ post.date | date: "%Y-%m" }}
              <br>
              {% if post.doi %}
              <a href="{{post.doi}}">doi</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.image %}
              <a href="{{post.image}}">image</a> /
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p>I am a creative technology entrepreneur and product manager with a passion for applied and commercialised research. Besides my research interests above, here's a sampling of my publicly disclosed work (more current work remains in stealth!):
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'projects' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em> {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.image %}
              <a href="{{post.image}}">image</a> /
              {% endif %}
              {% if post.image2 %}
              <a href="{{post.image2}}">image 2</a> /
              {% endif %}
              {% if post.image3 %}
              <a href="{{post.image3}}">image 3</a> /
              {% endif %}
              {% if post.image4 %}
              <a href="{{post.image4}}">image 4</a> /
              {% endif %}
              {% if post.image5 %}
              <a href="{{post.image5}}">image 5</a> /
              {% endif %}
              {% if post.image6 %}
              <a href="{{post.image6}}">image 6</a> /
              {% endif %}
              {% if post.image7 %}
              <a href="{{post.image7}}">image 7</a> /
              {% endif %}
              {% if post.image8 %}
              <a href="{{post.image8}}">image 8</a> /
              {% endif %}
              {% if post.image9 %}
              <a href="{{post.image9}}">image 9</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.document %}
              <a href="{{post.document}}">document</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.sheets %}
              <a href="{{post.sheets}}">sheets</a> /
              {% endif %}
              {% if post.sheets2 %}
              <a href="{{post.sheets2}}">sheets2</a> /
              {% endif %}
              {% if post.sheets3 %}
              <a href="{{post.sheets3}}">sheets3</a> /
              {% endif %}
              {% if post.sheets4 %}
              <a href="{{post.sheets4}}">sheets4</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2>Misc Design Work</h2>
              <p> I apply a modular, <i>Lego-like</i> approach to my design thinking process during ideation and prototyping, whether it's product design or software design.
              </p>
              <p>  Here are some of my publicy disclosed work. These include smaller side projects, idea dumps, and unpublished design, marketing, and advertising briefs mockups. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'design' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em> {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.image %}
              <a href="{{post.image}}">image</a> /
              {% endif %}
              {% if post.image2 %}
              <a href="{{post.image2}}">image 2</a> /
              {% endif %}
              {% if post.image3 %}
              <a href="{{post.image3}}">image 3</a> /
              {% endif %}
              {% if post.image4 %}
              <a href="{{post.image4}}">image 4</a> /
              {% endif %}
              {% if post.image5 %}
              <a href="{{post.image5}}">image 5</a> /
              {% endif %}
              {% if post.image6 %}
              <a href="{{post.image6}}">image 6</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.document %}
              <a href="{{post.document}}">document</a> /
              {% endif %}
              {% if post.document2 %}
              <a href="{{post.document2}}">document2</a> /
              {% endif %}
              {% if post.document3 %}
              <a href="{{post.document3}}">document3</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a> adapted using <a href="https://leonidk.com">Leonid Keselman</a>'s <a href="https://github.com/leonidk/new_website"> Jekyll fork</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

